<div id ="componenet">
    <app-head [pageTitle]="pageTitle"></app-head>          <!-- The pagetitle is set in the OnInit in the ts file-->

    <main id=""main>
        <button class="btn btn-secondary"><a routerLink="/empl/create" style="color: silver;">Create New</a></button>
        |
        <input [(ngModel)] = "searchCriteria" placeholder="Search" style="border-style: hidden">
        <!-- <button class="btn btn-primary" style="border-radius: 50px; size: 50px;">Search</button> -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Admin</th>
                    <th>Expenses Due</th>
                    <th>Expenses Paid</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let e of empls | employeeSearch:searchCriteria">
                    <td>{{e.id}}</td>
                    <td style="text-transform: capitalize;">{{e.name}}</td>
                    <td>{{e.email}}</td>
                    <td>{{e.admin | bool}}</td>
                    <td>{{e.expensesDue | currency}}</td>
                    <td>{{e.expensesPaid | currency}}</td>
                    <td><a routerLink="/empl/detail/{{e.id}}">Detail</a> | <a routerLink="/empl/change/{{e.id}}">Edit</a></td>
                </tr>
            </tbody>
        </table>
        <app-footer></app-footer>
        </main>
</div>

